RewriteEngine on
RewriteCond $1 !^(index\.php|assets|uploads|vendors|app|images)
#Your public folder names
RewriteRule ^(.*)$ index.php?/$1 [L]



#RewriteEngine On                  
#RewriteCond %{REQUEST_METHOD} OPTIONS 
#RewriteRule ^(.*)$ blank.html [QSA,L]